{% extends 'base/base.html' %}
{% load staticfiles %}
{% block links %}
<!-- Custom CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}
    <!-- Inicio contenido -->
    <form action="" method="POST">
      {% csrf_token %}
      <div class="container">
        <h1>Nuevo permiso</h1>
        <div class='row'>
          <div class='col-6'>
            <label>Nombre:</label>
            <input type="text" class="form-control" name="nombre"
            placeholder="Ingrese el nombre"
            {% if editando == True %}
              value="{{permiso.nombre}}"
            {% endif %}
            >
          </div>
          <div class='col-6'>
            <label>Modulo:</label>
            {% if modulos %}
              {% for modulo in modulos %}
              <div class="form-check">
                <input class="form-check-input position-static" type="checkbox" value={{modulo.idModulo}}
                name="modulos" id="modulo{{modulo.idModulo}}"
                {% if editando == True %}
                  {% for modulo2 in permiso.modulo.all %}
                   {% if modulo.idModulo == modulo2.idModulo %}
                    checked
                   {% endif %}
                  {% endfor %}
                {% endif %}
                >
                <label class="form-check-label" for="modulo{{modulo.idModulo}}">
                  {{modulo.nombre}}
                </label>
              </div>
              {% endfor %}
            {% endif %}

          </div>
        </div>
        <br/>
        <div class="row justify-content-end">
          {% if editando == True %}
            <button type="submit" class="btn btn-warning col-1">Editar</button>
            <a href="/permisos" class="btn btn-success col-1 espacio_izquierda">Cancelar</a>
          {% else %}
            <button type="submit" class="btn btn-success col-1">Guardar</button>
          {% endif %}
        </div>
        <br/>
        <div
         class="row"
         {% if editando == True %}
         hidden
         {% endif %}
         >
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Modulos</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% if permisos %}
                {% for permiso in permisos %}
                  <tr>
                    <th scope="row">{{permiso.nombre}}</th>
                    <td>
                    {% for modulo in permiso.modulo.all %}
                      {{modulo.nombre}}
                    {% endfor %}
                    </td>
                    <td>
                    <a href='/permisos/{{ permiso.idPermiso }}' class="btn btn-warning">
                      <i class="material-icons text-white">edit</i></a>
                    <a href='/permisos/eliminar/{{ permiso.idPermiso }}' class="btn btn-danger text-white espacio_izquierda">
                      <i class="material-icons">delete</i></a>
                    </td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </form>
    <!-- Fin contenido -->
{% endblock content %}
