{% extends 'base/base.html' %}
{% load staticfiles %}
{% block links %}
<!-- Bootstrap select CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<!-- Custom CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}
<title>Productos</title>
    
        <h1 class="d-flex justify-content-center">Productos en inventario</h1>
            <a class="btn btn-outline-info" style="position: absolute;top: 20%; right: 20%" href="{%url 'registrarProducto'%}">Agregar</a>
            <a class="btn btn-outline-info" style="position: absolute;top: 20%; right: 5%" href="{%url 'registrarTransaccion'%}">AgregarT2</a>
            <br> 
      
      </form>

      <div style="right:53%;text-align: center" class="d-inline-flex pl-5">
      <table style="right:53%;text-align: center;"class="table table-bordered">
  <thead style="text-align: center;">
    <tr style="text-align: center">
      <td scope="col">Nombre</td>
      <td scope="col">Descripción</td>
      <td scope="col">Marca</td>
      <td scope="col">Categoria</td>
      <td scope="col">Estado</td>
      <td scope="col">Stock Minimo</td>
      <td scope="col">Stock Maximo</td>
      <td scope="col">Existencias</td>
    </tr>
  </thead>  
    <tbody>
    {%if productos%}

      {% for Producto in productos%}
      
      <tr>
      <td>{{Producto.nombre}}</td>
      <td>{{Producto.descripcion}}</td>
      <td>{{Producto.marca}}</td>
      <td>{{Producto.categoria}}</td>
      <td>{{Producto.estado}}</td>
      <td>{{Producto.stockMinimo}}</td>
      <td>{{Producto.stockMaximo}}</td>
      <td>{{Producto.existencias}}</td>
      <td>
       <a class="btn btn-outline-primary" href="{%url 'updateProducto' Producto.idProducto%}">Editar</a>
        <a class="btn btn-outline-secondary" href="{%url 'Periodos' Producto.idProducto%}">Kardex</a>  
      </td>
      </tr>
      
      {% endfor %}
    
    {% endif%}

    </tbody>
  </table>

   
{% endblock %}
