<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
    </head>
    <style type="text/css">
        @page {
            size: letter landscape;
            margin: 1.5cm;
            margin-left: 2cm;
        }
        table, tr, td{
            font-size: 10pt;
            font-family: Arial;
            border-collapse: collapse;
        }        
        table th, td{
            border: 1px solid black;
            padding: 6px 0px 6px 5px;
            width: 3cm;
        }
    </style>
    <body>
        <table>
            <tr>
                <th>Fecha</th>
                <th>Código</th>
                <th style="width: 7.5cm;">Descripción</th>
                <th>Parcial</th>
                <th>Debe</th>
                <th>Haber</th>
            </tr>
            {% if transacciones %}
            {% for transaccion in transacciones %}
            <tr>
                <td>{{ transaccion.fecha }}</td>
                <td>{{ transaccion.cuenta__codigoCuenta }}</td>
                {% if cuentasPadre %}
                {% for cuentaPadre in cuentasPadre %}
                {% if cuentaPadre == transaccion.cuenta__codigoCuenta %}
                <td><b>{{ transaccion.cuenta__nombre }}</b></td>
                {% elif cuentaPadre in transaccion.cuenta__codigoCuenta %}
                <td>{{ transaccion.cuenta__nombre }}</td>
                {% endif %}
                {% endfor %}
                {% endif %}
                
                {% if "." in transaccion.cuenta__codigoCuenta %}
                <td>${{ transaccion.monto }}</td>
                <td></td>
                <td></td>
                {% else %}
                <td></td>
                {% endif %}
                {% if not "." in transaccion.cuenta__codigoCuenta %}
                {% if transaccion.tipo == 'D' %}
                    <td><b>${{ transaccion.monto }}</b></td>
                    <td></td>
                {% else %}
                    <td></td>
                    <td><b>${{ transaccion.monto }}</b></td>
                {% endif %}
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            <tr>
                <td colspan="4" style="text-align: right;padding-right:0.5cm;"><b>TOTAL</b></td>
                <td><b>${{ saldoDebe }}</b></td>
                <td><b>${{ saldoHaber }}</b></td>
            </tr>
        </table>
    </body>
</html>