<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>Title</title>
    </head>
    <body>
        
    <h1>HOLAAA</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum quis, earum et corrupti tenetur quisquam praesentium doloremque quas id officiis dolorem soluta consequatur. Dicta ut suscipit ipsa, perspiciatis voluptate error!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit atque aspernatur facere voluptatum quae commodi consectetur, accusantium autem suscipit cumque eius aliquid dolorem id debitis ex doloremque ipsam reiciendis incidunt?</p>
    </body>
</html>