{% extends 'base/base.html' %}
{% load staticfiles %}
{% block links %}
<!-- Custom CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}
    <!-- Inicio contenido -->
    {% if errores %}
  	<div class="container">
  		<div class="row">
  			<div class="col-12">
  				<div class="alert alert-danger" role="alert">
  					<p><b>No se pudo completar la operación. Se han encontrado los siguientes errores: </b></p>
  					{% for error in errores %}
  					{{ error }}
  					<br>
  					{% endfor %}
  				</div>
  			</div>
  		</div>
  	</div>
  	{% endif %}
    <div class="container">
      <h1>Nueva cuenta</h1>
      <form action="" method="POST">
        {% csrf_token %}
        <div class='row'>
          <div class='col-6'>
            <label>Codigo:</label>
            <input type="text" class="form-control" name="codigo"
            placeholder="Ingrese el codigo de la cuenta"
            value={{cuenta.codigoCuenta}}>
            <br/>
            <label>Saldo:</label>
            <input type="number" class="form-control" name="saldo"
            placeholder="Ingrese el saldo inicial de la cuenta"
            value={{cuenta.saldo}}>
            <br/>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" value=""
              name="inventario" id="inventario"
              {% if cuenta.modificaInventario == True %}
              checked
              {% endif %}
              >
              <label class="form-check-label" for="inventario">
                Modifica inventario
              </label>
            </div>
            <br/>
            <label>Tipo de cuenta:</label>
            <select class="custom-select" name="tipoCuenta">
              <option value="D"
              {% if cuenta.tipo == 'D' %}
              selected
              {% endif %}
              >Debe</option>
              <option value="H"
              {% if cuenta.tipo == 'H' %}
              selected
              {% endif %}
              >Haber</option>
            </select>
          </div>
          <div class='col-6'>
            <label>Nombre:</label>
            <input type="text" class="form-control" name="nombre"
            placeholder="Ingrese el nombre de la cuenta"
            value={{cuenta.nombre}}>
            <br/>
            <label>Cuenta padre:</label>
            <select class="custom-select" name="cuentaPadre">
              <option value=0 selected>Ninguna</option>
              {% if cuentas %}
                {% for cuentaE in cuentas %}
                  <option value={{ cuentaE.idCuenta }}
                  {% if cuentaE.idCuenta == cuenta.cuentaPadre.idCuenta %}
                  selected
                  {% endif %}
                  >{{ cuenta.codigoCuenta }} - {{ cuenta.nombre }}</option>
                {% endfor %}
              {% endif %}
            </select>
            <br/>
            <br/>
            <label>Estado de la cuenta:</label>
            <select class="custom-select" name="estadoCuenta">
              <option value="A"
              {% if cuenta.estadoCuenta == 'A' %}
              selected
              {% endif %}
              >Acreedora</option>
              <option value="D"
              {% if cuenta.estadoCuenta == 'D' %}
              selected
              {% endif %}
              >Deudora</option>
              <option value="S"
              {% if cuenta.estadoCuenta == 'S' %}
              selected
              {% endif %}
              >Saldada</option>
            </select>
            <br/>
            <br/>
            <label>Estado:</label>
            <select class="custom-select" name="estado">
              <option value="A"
              {% if cuenta.estado == 'A' %}
              selected
              {% endif %}
              >Activa</option>
              <option value="D"
              {% if cuenta.estado == 'D' %}
              selected
              {% endif %}
              >Deshabilitada</option>
            </select>
          </div>
        </div>
        <br/>
        <div class="row justify-content-end">
          {% if editando == True %}
          <button type="submit" class="btn btn-warning col-1">Editar</button>
          <a href="/cuenta" class="btn btn-danger col-1 espacio_izquierda">Cancelar</a>
          {% else %}
          <button type="submit" class="btn btn-success col-1">Guardar</button>
          <a href="/cuenta" class="btn btn-danger col-1 espacio_izquierda">Cancelar</a>
          {% endif %}
        </div>
      </form>
    </div>
    <!-- Fin contenido -->
{% endblock content %}
