
{% extends 'base/base.html' %}
{% block javascripts %}
{% endblock %}
{% block content %}
    <!-- Inicio contenido -->
    <div class="container">
      {% if ver == 1 %}
      {{ f1 }}
      {{ f2 }}
      {% endif %}
      <div class="row">
        <div class="col-6">
          <select name="FechaPD" id="FechaPD" class="form-control">
            <option value="FA">Mes Actual</option>
            {%if anio != None and mes != None%}
            <option value="FE" selected>Mes Específico</option>
            {% else %}
            <option value="FE">Mes Específico</option>
            {% endif%}
          </select>
        </div>
        <form action="" method="post">
          {% csrf_token %}
          <div class="col-4">

          </div>
          {%if anio != None and mes != None%}
          <input name="MP" id="MP" type="month" value="{{anio}}-{{mes}}" class="form-control">
          {%else%}
          <input name="MP" id="MP" type="month" class="form-control">
          {% endif %}
          <div class="col-2">
          <button name="BFE" id="BFE" class="btn btn-outline-primary" type="submit">Ver</button>
          </div>
        </form>
      </div>
      <br>
      <div class='row'>
        <div class="col-3">
          <a class="btn btn-outline-success" href="/partida/nueva">Nueva partida</a>
          <br/>
          <br/>
          <div class="list-group">
              {%if anio != None and mes != None%}
              <a href="/partida/0/{{anio}}/{{mes}}" class="list-group-item list-group-item-action">Vista general</a>
              {% else %}
              <a href="/partida/0" class="list-group-item list-group-item-action">Vista general</a>
              {% endif%}              
            {%for cuentasP in cuentas %}
            {%if cuentasP.cuentaPadre == None %}
                {%if anio != None and mes != None%}
                <a href="/partida/{{cuentasP.codigoCuenta}}/{{anio}}/{{mes}}" class="list-group-item list-group-item-action">{{cuentasP.nombre}}</a>
                {%else%}
                <a href="{{cuentasP.codigoCuenta}}" class="list-group-item list-group-item-action">{{cuentasP.nombre}}</a>
                {% endif %}
              {%endif%}
            {% endfor %}
          </div>
        </div>
        <table class="table table-hover col-9">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">cuenta</th>
              <th scope="col">Detalle</th>
              <th scope="col">Debe</th>
              <th scope="col">Haber</th>
            </tr>
          </thead>
          <tbody>
            {%for trans in transacciones%}
            <tr>
              <th scope="row">{{trans.fecha}}</th>
              <td>{{trans.cuenta.nombre}}</td>
              <td>{{trans.detalle}}</td>
              {%if trans.tipo == 'C' %}
              <td>${{trans.monto}}</td>
              <td></td>
              {% else %}
              <td></td>
              <td>${{trans.monto}}</td>
              {% endif %}
            </tr>
            {%endfor%}
          </tbody>
        </table>
      </div>
    </div>
    <!-- Fin contenido -->
{% endblock content %}
{% block scripts %}
<script>
  $('[name="BFE"]').hide();
  $('[name="MP"]').hide();
$('[name="FechaPD"]').change(function () {
    var end = this.value;
    if (end == 'FE'){
        $('[name="MP"]').show();
        $('[name="BFE"]').show();
        document.getElementById('MP').valueAsDate = new Date();
    }
    else {
        $('[name="BFE"]').hide();
        $('[name="MP"]').hide();
    }
});
{%if anio != None and mes != None%}
    $('[name="MP"]').show();
    $('[name="BFE"]').show();
{% endif %}
</script>
{% endblock %}
