{% extends 'base/base.html' %}
{% load staticfiles %}
{% block links %}
<!-- Bootstrap select CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
<!-- Custom CSS -->
<link type="text/css" rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}
    <!-- Inicio contenido -->
    <div class="container">          
      <form action="" method="post">
      {% csrf_token %}      
      {% if idsCtas != None%}
      <input type="hidden" name="hidId" id="hidId" value="{{ idsCtas }}">
      {% else %}
      <input type="hidden" name="hidId" id="hidId" value="">
      {% endif %}
      <div class='row'>
        <div class='col'>
          <label for="colFormLabel" class="col-sm-2 col-form-label">Fecha</label>
          <input name="fechaE" id="fechaE" type="date">
        </div>
        <div class='col'>
          <label for="colFormLabel" class="col-sm-2 col-form-label">Cuenta</label>
          <select name="seleCuenta" id="seleCuenta" class="selectpicker data-show-subtext='true'" data-live-search="true">
            {% if cuentas %}
            {% for cuenta in cuentas %}
            <option value="{{ cuenta.idCuenta }}">{{cuenta.codigoCuenta}}. {{cuenta.nombre }}</option>
            {% endfor %}
            {% endif %}
          </select>
        </div>
        <div class='col'>
          <label for="colFormLabel" class="col-sm-2 col-form-label">Detalle</label>
          <input name="detalle" id="detalle" class="form-control" type="text">
        </div>
        <div class='col'>
          <label for="colFormLabel" class="col-sm-2 col-form-label">Tipo</label>
          <select name="tipo" id="tipo" class="custom-select">
            <option value="C">Debe</option>
            <option value="A">Haber</option>
          </select>
        </div>
        <div class='col'>
          <label for="colFormLabel" class="col-sm-2 col-form-label">Monto</label>
          <input name="monto" id="monto" class="form-control" type="text">
        </div>
      </div>
      <br/>
      <!----CUENTA CON PRODUCTO-->
      <div class='row'>
        <div class="col-sm-5">
            <label name="Prod" id="prod" for="colFormLabel" class="col-sm-2 col-form-label">Producto</label>
            <input name="Prod" id="prod" class="form-control" type="text" readonly>
        </div>
        <div class="col-sm-5">
            <label name="cantProd" id="cantProd" for="colFormLabel" class="col-sm-2 col-form-label">Cantidad</label>
            <input name="cantProd" id="cantProd" class="form-control" type="text" >
        </div>
        <div class="col-sm-4">
          <br><br>
            <button name="cargarModal" id="cargarModal" type="button" class="btn btn-info" data-toggle="modal" data-target="#modalProductos">Seleccionar Producto</button>
            <!-- Modal de producto -->
            <div class="modal fade" id="modalProductos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seleccionar producto</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <label for="colFormLabel" class="col-sm-2 col-form-label">Buscar</label>
                    <input class="form-control" type="text">
                    <table class="table table-hover col-12">
                      <thead>
                        <tr>
                          <th scope="col">Nombre</th>
                          <th scope="col">Descripcion</th>
                          <th scope="col">En inventario</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for prods in productos%}
                        <tr>
                          <td>{{prods.nombre}}</th>
                          <td>{{prods.descripcion}} </td>
                          <td>{{prods.existencias}}</td>                        
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        </div>          
      </div>
      <br/>
      <div class="row justify-content-end">
        <button type="submit" name="aggTrans" id="aggTrans" class="btn btn-success col-1">Agregar</button>
      </div>
    </form>
    <h2>{{p}}</h2> 
    {% if p == 1 %}
      <h1>{{c}}</h1>
      {% endif %}     
      <br/>
      <div class="row">
        <table class="table table-hover col-12">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Cuenta</th>
              <th scope="col">Detalle</th>
              <th scope="col">Producto</th>
              <th scope="col">Debe</th>
              <th scope="col">Haber</th>
              <th scope="col">Accion</th>
            </tr>
          </thead>
          <tbody>            
            {% for trans in trans%}
            <tr>
              <th scope="row">{{trans.fecha}}</th>
              <td>{{trans.cuenta.nombre}} </td>
              <td>{{trans.detalle}} </td>
              <td><!--button type="button" class="btn btn-primary">Detalles producto</button--></td>
              {% if trans.tipo == 'C'%}
              <td>{{trans.monto}}</td>
              <td></td>
              {% else %}
              <td></td>
              <td>{{trans.monto}}</td>
              {% endif %}
              <td><button type="button" class="btn btn-danger">Eliminar</button></td>              
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <br/>
      <div class="row justify-content-end">
        <button type="button" class="btn btn-danger col-1">Cancelar</button>
        {% if ok == 1%}
        <button type="button" onclick="location.href='/partida/';" class="btn btn-success col-1 espacio_izquierda" >Guardar</button>
        {% else %}
        <button type="button"  class="btn btn-success col-1 espacio_izquierda" disabled>Guardar</button>
        {% endif %}
      </div>
      <br/>
         
    </div>
    <!-- Fin contenido -->
    <!-- Bootstrap select JS  -->
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static 'js/bootstrap-select.min.js' %}"></script>
{% csrf_token %}
<script type="text/javascript" src="{% static 'js/transaccion/transaccion.js' %}"></script>
<script>
  HideOrShow(0);
  
  $('[name="seleCuenta"]').change(function () {
  var end = this.value;
  var cuentaModInv = {{ cuentasModInv }} ;  
  jQuery.each(cuentaModInv, function() {
    if (end == cuentaModInv){
      HideOrShow(1);
    }else{
      HideOrShow(0);
    }
  });  
  });

  function HideOrShow(acc){
    if (acc == 1){
        $('[name="cantProd"]').show();
        $('[name="Prod"]').show();
        $('[name="cargarModal"]').show();
    }else if (acc == 0){
        $('[name="cantProd"]').hide();
        $('[name="Prod"]').hide();        
        $('[name="cargarModal"]').hide();
    }
}
</script>
{% endblock %}
