{% extends 'base/base.html' %}
{% block content %}
    <!-- Inicio contenido -->
    <div class="container">
      <div class='row'>
        <div class="col-3">
          <a class="btn btn-success" href="partida.html">Nueva partida</a>
          <br/>
          <br/>
          <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">Cuentas por cobrar</a>
            <a href="#" class="list-group-item list-group-item-action">Cuentas por pagar</a>
            <a href="#" class="list-group-item list-group-item-action">Compras</a>
            <a href="#" class="list-group-item list-group-item-action active">Ventas</a>
            <a href="#" class="list-group-item list-group-item-action">Cuenta XXXX</a>
            <a href="#" class="list-group-item list-group-item-action">Cuenta XXXX</a>
            <a href="#" class="list-group-item list-group-item-action">Cuenta XXXX</a>
            <a href="#" class="list-group-item list-group-item-action">Cuenta XXXX</a>
            <a href="#" class="list-group-item list-group-item-action">Cuenta XXXX</a>
          </div>
        </div>
        <table class="table table-hover col-9">
          <thead>
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Detalle</th>
              <th scope="col">Debe</th>
              <th scope="col">Haber</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td>$2000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td>$2000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td></td>
              <td>$2000</td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td>$2600</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td>$3000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td></td>
              <td>$800</td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td>$2000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td></td>
              <td>$54000</td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td>$2000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td>$2000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td></td>
              <td>$2000</td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td>$2600</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td>$3000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td></td>
              <td>$800</td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td>$2000</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row">13/10/2019</th>
              <td>Detalle detalle detalle detalle detalle detalle detalle </td>
              <td></td>
              <td>$54000</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Fin contenido -->
{% endblock content %}
